$white: #fff;
/* Grey */
$greybaltic: #2D2C33;
$greybaltic80: #383740;
$greybaltic50: #706f7f;
$greybaltic30: #8b8a99;
$greybaltic15: #f5f5fa;
/* Orange */
$orangedamask: #de7047;
$orangedamask80: #e58d6c;
/* Bleu */
$persianbleu: #009fa2;
$persianbleu80: #40b7b9;
