html {
  color:$greybaltic;
  font-family: "gothambookregular", "lato", "Arial";
}

body {
  font-size: 16px;
}

.container {
  @media (max-width: 700px) {
    width: 100%;
    margin: auto;
    // background: red;
  }
}
